.opinion__container{
    margin: 0 auto;
    max-width: 1440px;
    padding: 53px 15px 0 15px;
    text-align: center;
}
.opinion__title{
font-family: 'Cardo';
font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #020202;
max-width: 1190px;
margin: 0 auto;
}
.opinion__name{
    padding: 37px 0 29px 0;
}