.slider__container{
    max-width: 1150px;
    margin: 0 auto;
    padding:0 15px;
    border:2px solid red;
}
h2{
font-family: 'Cardo';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 39px;
text-align: center;
color: #3A3A3A;
margin: 0 0 21px 0;
}
.slider__text{
font-family: 'Cardo';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 33px;
text-align: center;
color: #000000;
margin: 0 0 37px 0;
}