include ../mixins/cards-item.pug
.cards__container 
    .cards__row 
        +cards-item({
            img:'./assets/imgs/Frame.png',
            title: 'DESIGN',
            text: 'We create furniture pieces with personality, designed to transform your space.',
            name:'Learn More'
        })
        +cards-item({
            img:'./assets/imgs/blackflowers.png',
            title: 'FOOTPRINT',
            text: 'We are committed to look after what we love, nature.',
            name:'Learn More'
        })
        +cards-item({
            img:'./assets/imgs/hands.png',
            title: 'MADE',
            text: 'We create furniture pieces with personality, designed to transform your space.',
            name:'Learn More'
        })
        +cards-item({
            img:'./assets/imgs/tree.png',
            title: 'WOOD',
            text: 'Our characteristic and main material, and its unique and timeless attributes.',
            name:'Learn More'
        })