.flex 
    .flex__container
        .flex__item 
            img(src="./assets/imgs/sofa.png", alt="log")
            img(src="./assets/imgs/book.png", alt="log")
            img(src="./assets/imgs/table.png", alt="log")
            img(src="./assets/imgs/bed.png", alt="log")

