header.header
    .header.container   
        ul.header__list     
            li 
                a(href="#")  Wooden Furniture
            li 
                a(href="#") About
            li 
                a(href="#") Stories
        .header__logo   
            img(src="./assets/imgs/logo.png", alt="")