.main   
    .main__container 
        h1.main__title Furniture designed to live in harmony, creating distinctive and timeless spaces
        .main__btn
            a(href="#")  Discover now
        p.main__text Do you know what is your decor style?    