.menu__container
    .menu__flex 
        .menu__about 
            .menu__new
            .menu__name Cloe
            .menu__title Modular Storage System
            .menu__price From $ 1.176
            .menu__text An expansive way to furnish your space exactly how you need it and like it. Transform it in exactly what you need like a bookshelf, tv stand or show rack, you pick.
            .menu__size
            .menu__a 
                a(href="#") Shop now
        img(src="./assets/imgs/table-sec.png ", alt="")
    .menu__flex-sec 
        img(src="./assets/imgs/flower.png ", alt="")
        .menu__about
            .menu__name Pelican
            .menu__title Modular Storage System
            .menu__price From $ 89
            .menu__text Store or exhibit your favorite objects in the entrance hall, modern hallways, living rooms and bedrooms with a decorative and minimalist touch.
            .menu__size + 3 sizes, + 5 color finishes
            .menu__a-sec
                a(href="#") Shop now
    .menu__flex 
        .menu__about
            .menu__new New Favorite!
            .menu__name Alada
            .menu__title Alada
            .menu__price From $ 534
            .menu__text A timeless and discreet folding desk that seamlessly transforms into a decorative shelf in seconds.
            .menu__size  + 4 color finishes
            .menu__a 
                a(href="#") Shop now
        img(src="./assets/imgs/book-sec.png", alt="")
    .menu__flex-sec 
        img(src="./assets/imgs/bbed.png ", alt="")
        .menu__about
            .menu__name Alba Collection
            .menu__title Modular bedside table & shelf
            .menu__price From $ 272
            .menu__text A versatile and modular piece with a sculptural touch that can be used as a wall shelf or as a bedside table with concealed storage.
            .menu__size + 6 color finishes, infinite combinations
            .menu__a-sec
                a(href="#") Shop now
            .menu__footer 
                img(src="./assets/imgs/sponsor.png", alt="")
    .menu__flex 
        .menu__about 
            .menu__new
            .menu__name Batea Collection
            .menu__title Tables with storage & tray tables
            .menu__price From $ 272
            .menu__text Composed of clean and rounded lines, the Batea Collection includes unique tables with extra functionality like a removable tray, and hidden storage.
            .menu__size + 3 sizes, + 6 color finishes
            .menu__a 
                a(href="#") Shop now
        img(src="./assets/imgs/table-white.png ", alt="")