.opinion__container
    .opinion__title "The team from Woodendot has displayed utmost professionalism from order to deliver and customer support. We placed an order to the UK and would definitely recommend friends to order from Woodendot!"
    .opinion__name R. Aoun, United Kingdom