mixin cards-item(args={})
    div.cards-item
        img(src=args.img, alt="item").cards-item__img
        .cards-item__title=args.title
        .cards-item__text=args.text 
        .cards-item__name=args.name